body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  color: gray !important;
}

.dropmenu {
  width: 400px;
}

.goal {
  width: 340px;
}

@media (max-width: 1480px) {
  .goal {
    width: 290px;
  }
}

@media (max-width: 1280px) {
  .goal {
    width: 260px;
  }
}

@media (max-width: 1150px) {
  .goal {
    width: 250px;
  }
}

@media (max-width: 1070px) {
  .goal {
    width: 230px;
  }
}

@media (max-width: 992px) {
  .goal {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .goal {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .goal {
    width: 350px;
  }
}

@media (max-width: 380px) {
  .goal {
    width: 300px;
  }
}
